@use 'styles/main';
@use 'styles/framed';
@use 'styles/plain';
@use 'styles/mathwiki';
@use 'styles/vivid';
@use 'styles/card';

:has(> .theorem-callout-framed) {
    @include framed.framed();
}

:has(> .theorem-callout-plain) {
    @include plain.plain();
}

:has(> .theorem-callout-mathwiki) {
    @include mathwiki.mathwiki();
}

:has(> .theorem-callout-vivid) {
    @include vivid.vivid();
}

:has(> .theorem-callout-card) {
    @include card.card();
}

/* Card style box-shadow for light theme */
.theme-light :has(> .theorem-callout-card) .callout.theorem-callout {
    box-shadow: rgb(0, 0, 0, 0.4) 0px 2px 10px;
}

/* Card style box-shadow for dark theme */
.theme-dark :has(> .theorem-callout-card) .callout.theorem-callout {
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.32), 0px 1px 2px rgba(0, 0, 0, 0.32), 0px 0px 0px 1px rgba(0, 0, 0, 0.32), 0px 0px 1px 1px rgba(0, 0, 0, 0.12), inset 0px 1px 0.75px rgba(255, 255, 255, 0.24), inset 0px -2px 0.75px rgba(0, 0, 0, 0.16);
}
